---
import "../styles/global.css";
import DashboardShell from "@/components/dashboard/DashboardShell";
import { Toaster } from "sileo";
import { ClientRouter } from "astro:transitions";
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>


<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
  </head>
  <ClientRouter />

  <body>
    <Toaster
      position="top-center"
      options={{
        fill: "var(--toast-bg)",
        roundness: 16,
        styles: {
          title: "text-[var(--toast-title)]!",
          description: "text-[var(--toast-desc)]!",
          badge: "bg-[var(--toast-accent)]/10! text-[var(--toast-accent)]!",
          button:
            "bg-[var(--toast-accent)]/10! hover:bg-[var(--toast-accent)]/15! text-[var(--toast-accent)]!",
        },
      }}
      client:only
    />
    <DashboardShell client:load>
      <slot transition:name="root" transition:animate="none" />
    </DashboardShell>
  </body>
</html>


